---
name: build

on:
#  schedule:
#    - cron: "0 7 * * 1,4"
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      tags:
        description: 'container build test'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0steps:
  - name: Checkout repository
    uses: actions/checkout@v4

  - name: Install Task
    uses: go-task/setup-task@v1
    with:
      version: 3.x # Use a specific version or range

  - name: Run build task
    run: task build # Executes the 'build' task defined in your Taskfile
